body {
  position: relative; }

#banner {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  background: url("../img/bannerbkg.png") no-repeat left top;
  background-size: 100% 100%; }
  #banner .swiper-container {
    width: 100%; }
    #banner .swiper-container .swiper-slide {
      width: 100%;
      position: relative; }
      #banner .swiper-container .swiper-slide .videoWrap {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center; }
        #banner .swiper-container .swiper-slide .videoWrap .zy_media {
          width: 100%;
          height: 5rem; }
        #banner .swiper-container .swiper-slide .videoWrap .video {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          #banner .swiper-container .swiper-slide .videoWrap .video #myvideo1 {
            width: 100%; }
      #banner .swiper-container .swiper-slide .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: none; }
        #banner .swiper-container .swiper-slide .mask > div {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
  #banner .swiper-button-next, #banner .swiper-button-prev {
    width: 0.18rem;
    height: 0.52rem;
    margin-top: -0.26rem;
    padding: 0 0.17rem;
    -moz-background-size: 0.18rem 0.52rem;
    -webkit-background-size: 0.18rem 0.52rem;
    background-size: 0.18rem 0.52rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/left.png"); }
  #banner .swiper-button-next {
    transform: rotate(180deg); }
  #banner img {
    width: 100%; }
  #banner .bannerTitle {
    width: 63.6%;
    margin: 0 auto; }
  #banner .bannerBtn {
    width: 100%;
    position: absolute;
    bottom: 3.8%;
    left: 0; }
    #banner .bannerBtn a {
      width: 34.5%;
      display: block;
      margin: 0 auto; }

#video {
  position: relative;
  width: 100%; }
  #video > img {
    width: 100%; }
  #video .videoOut {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column; }
    #video .videoOut .video {
      width: 93.33%; }
      #video .videoOut .video video {
        width: 100%; }
    #video .videoOut .my-video-dimensions {
      width: 100% !important;
      height: 202px !important; }

#donate .donate1 {
  width: 100%;
  position: relative; }
  #donate .donate1 .donateBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column; }
    #donate .donate1 .donateBox .donateBoxOut {
      width: 92%;
      margin: 0 auto;
      margin-top: 8%; }
      #donate .donate1 .donateBox .donateBoxOut p:nth-child(1) {
        color: #234e9a;
        font-size: 0.36rem;
        font-weight: bold; }
      #donate .donate1 .donateBox .donateBoxOut p:nth-child(2) {
        margin-top: 0.3rem;
        color: #2e2e2e;
        font-size: 0.22rem;
        line-height: 0.34rem; }
      #donate .donate1 .donateBox .donateBoxOut .load {
        width: 90%;
        margin: 0 auto;
        margin-top: 0.6rem;
        position: relative;
        font-size: 0.3rem; }
        #donate .donate1 .donateBox .donateBoxOut .load .loadBar {
          width: 100%;
          height: 53%;
          position: absolute;
          left: 0.5%;
          top: 18%;
          background-color: #234e9a;
          border-radius: 0.1rem;
          transition: all 1s;
          -webkit-transition: all 1s;
          -moz-transition: all 1s;
          -ms-transition: all 1s; }
        #donate .donate1 .donateBox .donateBoxOut .load .loadBkg {
          position: absolute;
          left: 100%;
          top: 50%;
          margin: -0.145rem 0 0 -0.32rem;
          width: 0.64rem;
          height: 0.29rem; }
          #donate .donate1 .donateBox .donateBoxOut .load .loadBkg img {
            height: 100%; }
      #donate .donate1 .donateBox .donateBoxOut .loadText {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
        color: #ffffff;
        font-size: 0.18rem; }
  #donate .donate1 img {
    width: 100%; }
#donate .threeNumber {
  width: 100%;
  margin-top: 20%; }
  #donate .threeNumber > div {
    width: 33.333%;
    float: left;
    text-align: center; }
    #donate .threeNumber > div p {
      font-size: 0.24rem;
      color: #6f6f70;
      line-height: 0.6rem; }
    #donate .threeNumber > div p:nth-child(2) {
      font-size: 0.48rem; }

body > div {
  overflow-x: hidden; }

#donateName {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 6.0rem; }
  #donateName > img {
    width: 100%; }
  #donateName .dnTitle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 78.89%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    font-size: 0.28rem;
    text-align: center;
    color: white; }
    #donateName .dnTitle p:nth-child(1) {
      font-size: 0.4rem;
      font-weight: bold;
      margin-bottom: 0.2rem; }
    #donateName .dnTitle p:nth-child(2) {
      margin-bottom: 0.44rem; }
  #donateName .allName {
    position: absolute;
    top: 62.3%;
    width: 93%;
    height: 8.5rem;
    right: 3.47%;
    overflow: hidden; }
    #donateName .allName .allNameWrap .anChild {
      width: 95%;
      position: relative;
      margin: auto;
      margin-bottom: 0.24rem; }
      #donateName .allName .allNameWrap .anChild img {
        width: 100%; }
      #donateName .allName .allNameWrap .anChild .anWxName {
        position: absolute;
        left: 6%;
        top: 17%;
        font-size: 0.24rem;
        color: white; }
      #donateName .allName .allNameWrap .anChild .anMsg {
        position: absolute;
        left: 6%;
        top: 43%;
        font-size: 0.22rem;
        width: 72.72%;
        color: #bdd4fe; }
      #donateName .allName .allNameWrap .anChild .anMoney {
        position: absolute;
        right: 9%;
        top: 17%;
        font-size: 0.24rem;
        color: white; }
      #donateName .allName .allNameWrap .anChild .anTime {
        position: absolute;
        right: 5%;
        top: 65%;
        font-size: 0.2rem;
        color: #6d9aec; }
      #donateName .allName .allNameWrap .anChild .anHead {
        position: absolute;
        left: -0.7348rem;
        top: -2px;
        height: 1.4696rem;
        width: 1.4696rem;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 50%; }
        #donateName .allName .allNameWrap .anChild .anHead img {
          width: 100%;
          box-sizing: border-box; }

#bottom .bottom2 {
  width: 100%; }
#bottom .bottom1 {
  width: 100%;
  position: relative; }
  #bottom .bottom1 .bottomContent {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    font-size: 0.26rem;
    color: #474748;
    line-height: 0.4rem; }
    #bottom .bottom1 .bottomContent p {
      width: 88%;
      text-indent: 0.48rem;
      text-align: justify; }
      #bottom .bottom1 .bottomContent p span {
        color: #333333;
        font-weight: bold; }
#bottom img {
  width: 100%; }

#proGress {
  width: 100%; }
  #proGress .proTitle {
    width: 100%; }
  #proGress img {
    width: 100%; }
  #proGress .proBox {
    width: 90.4%;
    margin: 0 auto;
    position: relative; }
    #proGress .proBox .pbLeft {
      width: 63.3%; }
      #proGress .proBox .pbLeft .pbl {
        margin-bottom: 0.1rem; }
      #proGress .proBox .pbLeft .pbl > div {
        width: 48.6%; }
    #proGress .proBox .pbRight {
      width: 34.8%;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0; }
      #proGress .proBox .pbRight > div {
        width: 100%;
        position: absolute;
        left: 0; }
      #proGress .proBox .pbRight .pbtop {
        top: 0; }
      #proGress .proBox .pbRight .pbBottom {
        bottom: 0; }

#water {
  width: 100%; }
  #water img {
    width: 100%; }

body {
  background-color: #fefbfb;
  width: 100%; }

#socail {
  width: 100%; }
  #socail .socailTitle {
    width: 100%; }
  #socail img {
    width: 100%; }

.socailBanner {
  width: 100%;
  overflow-x: hidden;
  margin: 0.2rem 0 0.4rem; }
  .socailBanner .swiper-slide {
    transform: scale(0.8, 0.8);
    transition: transform 1.0s; }
  .socailBanner .swiper-slide-active {
    transform: scale(1, 1); }
  .socailBanner img {
    width: 100%; }
  .socailBanner .socailBox {
    width: 100%;
    position: relative; }
    .socailBanner .socailBox .socailBoxIn {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column; }
      .socailBanner .socailBox .socailBoxIn > div {
        width: 91%; }
  .socailBanner .socailText {
    margin-top: 0.2rem;
    transition: margin-top 1s; }
    .socailBanner .socailText .stLeft {
      font-size: 0.18rem;
      box-sizing: border-box;
      line-height: 0.38rem;
      padding: 0 0.1rem;
      color: #ffffff;
      background-color: #989a9d;
      border: 1px solid #989a9d; }
    .socailBanner .socailText .stRight {
      width: 68%;
      font-size: 0.16rem;
      color: #2d2d2e;
      margin-top: 1px;
      line-height: 0.38rem; }
      .socailBanner .socailText .stRight p {
        margin-left: 0.1rem;
        width: 95%; }

.socailBanner .swiper-slide-active .socailText {
  margin-top: 0.28rem; }
  .socailBanner .swiper-slide-active .socailText .stLeft {
    color: #ffffff;
    background: #004e9d;
    border-color: #004e9d;
    font-size: 0.28rem;
    line-height: 0.4rem; }
  .socailBanner .swiper-slide-active .socailText .stRight {
    font-size: 0.22rem; }

#donatePop {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  z-index: 10; }
  #donatePop > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgba(0, 0, 0, 0.5); }
    #donatePop > div .wrap {
      width: 85%;
      height: 85%;
      overflow: hidden;
      -webkit-border-radius: 0.07rem;
      -moz-border-radius: 0.07rem;
      border-radius: 0.07rem; }
      #donatePop > div .wrap > iframe {
        width: 100%;
        height: 100%;
        border: 0px;
        outline: 0px; }
    #donatePop > div .close {
      position: absolute;
      top: 0.6rem;
      right: 0.26rem;
      z-index: 50; }
      #donatePop > div .close a {
        display: block;
        width: 0.6rem;
        margin: 0 auto; }
        #donatePop > div .close a img {
          width: 100%; }

/*# sourceMappingURL=index.css.map */
